<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <a href="/">Home</a>
    <a href="/about">About</a>
    <hr>
    <h1>Understanding Template Engine (EJS)</h1>
    <h3>This is homePage</h3>
    <%= name %>   
</body>
</html>